
/*header*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
  transition: all 300ms ease-in-out;
}

.header.fixed {
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.header.nav-up {
  top: -100px;
}

.topLinks,
.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.topLinks {
  background-color: var(--primary-color);
  color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
}

.topLinks ul {
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.topLinks ul a {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 8px 0;
  gap: 5px;
}

.topLinks ul a:hover {
  color: var(--secondary-color);
}
.topLinks ul a i {
  width: 20px;
}

.logo {
  width: 230px;
  position: relative;
  min-height: 1px;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.logo a:hover{
  color: var(--primary-color);
}

.logo img {
  transition: all 300ms ease-in-out;
}

.header.fixed .logo {
  width: 170px;
}

.header.fixed .logo img{
  padding: 0 10px;
}

.header .nav {
  width: 50%;
}

.header .nav > ul {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.75rem;
}

.header .nav > ul > li {
  height: 100%;
}

.header .nav > ul > li > a {
  height: 100%;
  color: var(--body-color);
  font-size: .75rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
  transition: all 300ms ease-in-out;
  padding: 2.5rem 0;
  z-index: 1;
}

.header.fixed .nav > ul > li > a {
  padding: 1rem 0;
}

.header .nav > ul > li > a small {
  display: block;
}

.header .nav ul li a i {
  font-size: 75%;
}

.header .nav ul li:hover > a,
.header .nav ul li > a.active {
  color: var(--secondary-color);
}

.header .nav > ul > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition: all 300ms ease-in-out;
  transform: scaleX(0);
  z-index: -1;
}

.header .nav ul li > a.active::before,
.header .nav ul li:hover > a::before {
  transform: scaleX(1);
}

.header .dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 40rem;
  background-color: #fff;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  translate: 0 20px;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.header li:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
  pointer-events: all;
}

.navLink .inner {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--body-color);
  font-weight: 700;
}

.navLink .inner:hover {
  color: var(--primary-color);
}

.navLink .inner .img-fluid {
  flex: 0 0 50px;
  max-width: 50px;
  border-radius: 50%;
  padding: 8px;
  background-color: var(--secondary-light);
  transition: all 300ms ease-in-out;
}

.navLink .inner:hover .img-fluid {
  background: radial-gradient(
    circle at 70% 10%,
    var(--secondary-color),
    var(--primary-color)
  );
}

.header .dropdown.drop-sm {
  width: 220px;
  left: calc(50% - 110px);
  padding: 1rem;
}

.header .dropdown.drop-sm a {
  display: block;
  color: var(--body-color);
  font-weight: 600;
}

.header .dropdown.drop-sm a:hover {
  color: var(--secondary-color);
}

.header .dropdown.drop-sm li:not(:last-of-type) a {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
}

/* header-configure */
.header-configure {
  width: 50%;
}

.header-configure > ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
}
.header-configure ul li{
  position: relative;
}
.header-configure ul li a{
  color: var(--body-color);
  padding: 5px 0;
}

.header-configure ul .button i {
  width: 28px;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.header-configure ul .button i svg{
  width: 100%;
}

.header-configure ul li:hover > .button i {
  color: var(--primary-color);
}

.login-btn.d-flex{
  align-items: center;
  gap: 5px;
  line-height: 1;
}

/* header-configure */

.header.fixed .menuBtn span::before {
  background: var(--primary-color);
}

.menuBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}

.header.fixed .menuBtn {
  width: 40px;
  height: 40px;
}

.menuBtn div {
  position: relative;
  width: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: all 300ms ease-in-out;
}

.menuBtn span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 3px 0;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn.closeMenuBtn span#menuLine1 {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
}

.menuBtn.closeMenuBtn span#menuLine2 {
  right: 100px;
}

.menuBtn.closeMenuBtn span#menuLine3 {
  -webkit-transform: rotate(-45deg) translate(4px, -5px);
  transform: rotate(-45deg) translate(4px, -5px);
}

.menuContainer {
  position: fixed;
  inset: 0;
  padding-top: 61px;
  z-index: 996;
  background-color: rgb(0 123 255 / 13%);
  backdrop-filter: blur(5px);
  display: none;
}

.menuContainer .inner {
  padding: 5px 15px;
  width: 100%;
  visibility: hidden;
  background: var(--primary-color);
  background: radial-gradient(
    circle at 50% -10%,
    var(--secondary-color),
    var(--primary-color)
  );
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 16%);
  transition: all 300ms ease-in-out;
}

.header.fixed + .menuContainer {
  padding-top: calc(1rem + 30px);
}

.menuContainer.active .inner {
  visibility: visible;
}

.menuContainer a {
  color: #fff;
  transition: all 300ms ease-in-out;
}

.mainMenu li:not(:last-child) a {
  border-bottom: 1px solid rgb(255 255 255 / 15%);
}

.mainMenu a {
  padding: 10px 0;
  font-weight: 700;
  display: block;
  position: relative;
}

.mainMenu li.active > a,
.mainMenu li:hover > a {
  padding: 10px;
  background-color: #fff;
  color: var(--primary-color);
}

.mainMenu a i {
  font-size: 75%;
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 0;
  transition: all 300ms ease-in-out;
}

.mainMenu li.active > a i,
.mainMenu li:hover > a i {
  right: 10px;
}

.mainMenu li.active > a i {
  transform: rotate(540deg);
}

.menuDrop {
  padding: 5px 15px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: none;
}
.mainMenu ul ul li:last-child a {
  border-bottom: 0;
}
/*header*/

/* Hero Banner */
.banner {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  position: relative;
  background-color: #000;
  overflow: hidden;
  z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none
}

.banner picture img {
    -webkit-animation: 20s infinite alternate zoom;
    animation: 20s infinite alternate zoom
}

@-webkit-keyframes zoom {
    50% {
        transform: scale(1.125,1.125);
        transform-origin: center bottom
    }
}

@keyframes zoom {
    50% {
        transform: scale(1.125,1.125);
        transform-origin: center bottom
    }
}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}

.banner .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.heroText {
  z-index: 2;
  width: max-content;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 450px;
}

.heroText .heroText-subtitle{
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.heroText .heroText-title{
  font-size: 3.5rem;
  line-height: 1.1;
}

.heroText .heroText-desc{
  font-size: 1.25rem;
  color: var(--lightgray);
}

.banner-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner .carousel-indicators{
  margin-bottom: 3rem;
}

.scroll-indicator {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  z-index: 2;
}

.scroll-arrow {
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-left: none;
  border-top: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translate(-50%, 0) rotate(45deg); }
  40% { transform: translate(-50%, -10px) rotate(45deg); }
  60% { transform: translate(-50%, -5px) rotate(45deg); }
}
/* Hero Banner */


/*Footer*/
.footer-area {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  background: var(--primary-color);
  color: #fff;
}

.footer-area a {
  display: inline-block;
  color: #fff;
  font-size: .875rem;
  padding: 5px 0;
}

.footer-area p{
  font-size: .875rem;
}

.footer-area a:hover {
  color: var(--secondary-color-light);
}

.footer-links {
  position: relative;
  z-index: 1;
}

.footerSocial {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.footerSocial i.icon-circular {
  background-color: var(--body-bg);
}

.footer-bottom {
  padding: 10px 0;
  background-color: var(--body-bg);
  color: var(--body-color);
}

.footer-bottom a{
  color: initial;
}

.footer-bottom>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .d-flex {
  gap: 10px;
}

.copyrights {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyrights p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 12px;
}

.copyrights p img {
  width: 13px;
  margin-left: 5px;
}

.button-top {
  background: rgb(70 70 70 / 32%);
  position: fixed;
  left: 20px;
  bottom: -40px;
  color: #ffffff;
  font-size: 13px;
  opacity: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  z-index: 90;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button-top:hover {
  background: var(--primary-color);
}

/*Footer*/

/* Brands */
.brand-slider .swiper-wrapper {
  transition-timing-function: linear;
}

.brand-slider .brandLogo {
  width: 145px;
}

.brandLogo .img-fluid {
  height: 100%;
  /* filter: grayscale(1) opacity(0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Brands */

/* products */
.supplements-section {
  background: #fffef9;
}

.headline {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}

.pill-icon {
  font-size: 26px;
}

.product-card {
  background-color: var(--secondary-color-light);
  transition: 0.3s ease;
  padding: 20px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.product-card .price {
  margin-top: 5px;
  font-size: 18px;
}

.product-image img {
  object-fit: contain;
  max-width: 100%;
  height: 300px;
}

.add-btn {
  width: 100%;
  border-radius: 0px;
  background-color: #ffffff;
  border-color: var(--primary-color);
  font-size: small;
}

.add-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.add-btn-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  pointer-events: none;
}

.product-card:hover .add-btn-wrapper {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media (max-width: 768px) {
  .add-btn-wrapper {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.view-all-btn {
  text-decoration: underline;
  font-weight: 600;
  color: #000;
}

.view-all-btn:hover {
  color: #444;
}

/* end */

/* Prod Info */
.sync-wrapper {
  display: flex;
  min-height: 600px;
  width: 100%;
  transition: background-color 0.4s ease-in-out;
}

.left-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-box {
  position: relative;
  text-align: center;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px; /* space from price */
}

.btn-buy,
.btn-view {
  border-radius: 0;
  padding: 10px 18px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-buy {
  background-color: #000;
  color: #fff;
}

.btn-buy:hover {
  background-color: var(--secondary-color);
}

.btn-view {
  background-color: #fff;
  color: #000;
}

.btn-view:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.product-box img {
  object-fit: contain;
  max-width: 100%;
  height: 300px;
}

.product-box img:hover{
  cursor: pointer;
}

.product-box .title {
  margin-top: 20px;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.product-box .price {
  margin-top: 5px;
  font-size: 18px;
  color: #d9ffd9;
}

.right-section {
  width: 50%;
  position: relative;
}

.right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seperator {
  background: #fffefe;
  width: 1px;
}

.right-image:hover {
  cursor: pointer;
}

.right-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 40px;
  font-weight: 600;
  /* max-width: 400px; */
  line-height: 2.5rem;
}

/* end */

/* testimonials */
.testimonial-section {
}

.testimonial-card {
  max-width: 900px;
  background: var(--secondary-color-light);
  /* border-radius: 20px; */
  padding: 40px;
}

.testimonial-text {
  font-style: italic;
}

.author-name {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.rating-stars {
  color: #f3b200;
  font-size: 18px;
}

.rating-count {
  font-size: 14px;
}

/* end */

/* company_info */
.iconCircle {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding: 14px;
  background-color: #fff;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.infoTitle {
  font-size: small;
  margin-bottom: 0;
  color: #fff;
}

.infoPara {
  font-size: smaller;
  margin-bottom: 2rem;
  color: #fff;
}
/* end */

/* Footer */
.custom-footer {
  padding-top: 60px;
  position: relative;
  z-index: 1;
}

.custom-footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% -10%,
    var(--secondary-color),
    var(--primary-color)
  );
  opacity: 0.95;
  z-index: -1;
}

.footer-logo {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.icon-circle {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.footer-links li {
  list-style: none;
  margin-bottom: 8px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 0.875rem;
}

.footer-links a:hover {
  color: #fff;
  padding-left: 4px;
}

.social-round {
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.social-round:hover {
  background-color: rgba(255, 255, 255, 1);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}

.language-select i {
  font-size: 18px;
}

.scroll-top-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: #fff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

@media (max-width: 767px) {
  .footer-logo {
    font-size: 38px;
  }

  .footer-title {
    font-size: 20px;
  }

  .social-icons {
    flex-wrap: wrap;
  }
}
/* end */

/* blogs */
.blog-card {
  background: #ffffff;
  /* border-radius: 5px; */
  width: 100%;
  max-width: 420px;
  transition: 0.3s ease;
  cursor: pointer;
}

.blog-card:hover {
  transform: translateY(-4px);
}

.image-box {
  height: 260px;
  overflow: hidden;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.blog-card:hover .blog-img {
  transform: scale(1.05);
}

.blog-title {
  font-weight: 600;
  color: var(--primary-color);
  line-height: 1;
}

.blog-title:hover {
  color: var(--body-color);
}

.read-btn {
  text-decoration: underline;
  font-weight: 500;
  background: transparent;
  font-size: 14px;
  transition: 0.3s;
}

/* end */

/* feature box */
.feature-box {
  justify-content: center;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.feature-box .icon{
  width: 35px;
  color: var(--secondary-color-light);
}

.feature-box:not(:last-child) .inner {
  padding-right: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .feature-box .feature-separator {
    display: none;
  }
}

/* end */

.swiper-button-prev svg {
  width: 50% !important;
  height: 50% !important;
}
.swiper-button-next svg {
  width: 50% !important;
  height: 50% !important;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.custom-bullet {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2fff00;
  color: #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.3s;
}

.custom-bullet.swiper-pagination-bullet-active {
  background: #000000;
  color: #ff0000;
  transform: scale(1.2);
}